.navbar{
    background-color:rgb(20, 52, 80);
    color:black;
    height: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px;
}
.menu-item{
    text-align: none;
    color: rgb(238, 227, 227);
    margin: 0 20px;
    display: inline-flex;
    align-items: center;
}
.menu-item:hover {
  color:rgb(236, 226, 226);
  transition: 0.3s;
}
.menu-icon {
height: 20px;
}
.active-menu{
    color: rgb(223, 245, 24);
    font-weight: bold;
    position: relative;
    bottom: 7px;
}