.navbar{
    background-color:rgb(245, 213, 228);
    color:black;
    height: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px;
}
.menu-item{
    text-align: none;
    color: rgb(166, 65, 65);
    margin: 0 20px;
    display: inline-flex;
    align-items: center;
}
.menu-item:hover {
  color:rgb(48, 45, 45);
  transition: 0.3s;
}
.menu-icon {
height: 20px;
}
.active-menu{
    color: rgb(5, 5, 5);
    font-weight: bold;
    position: relative;
    bottom: 7px;
}