.products-container{
    display: flex;
    width: 11px;
}

.product-container{
    border: 1px solid black;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 25px;
    background-color: rgb(246, 197, 233);
}
.product-title{
    font-size: 20px;
    font-weight: bold;
    color:brown;
}
.product-img{
    height: 150px;
}